<aside>
    <h2>Neue Tutorials</h2>
    <ul>
        <li>Node.js - Schnelleinstieg, 15.10.2024 - Dauer:1 Std. 5 Min.</li>
        <li>Analysis 2, 15.10.2024 - Dauer:3 Std. 15 Min.</li>
        <li>C++ for Dummies, 14.10.2024 - Dauer:2 Std. 3 Min.</li>
    </ul>
</aside>