<header>
    <img class="logo" src="/img/Logo.png" alt="Logo" height="75" width="75">
    <h1>TITEL DER SEITE</h1>

    <nav class="navContainer">
        <div class="container">
            <div class="burger"></div>
            <div class="burger"></div>
            <div class="burger"></div>
        </div>
        <div>
            <a class="link" href="/list.html">Liste aller Tutorials</a> <span class="spaceholder">|</span>
            <a class="link" href="/form.html">Neues Tutorial anlegen</a>
        </div>
    </nav>
</header>