<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tutorials</title>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/tiles.css">
        <link rel="stylesheet" href="/css/flexbox.css">

        <script language="JavaScript" type="text/javascript" src="/js/script.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/burgermenu.js"></script>
    </head>
    <body>
        <%- include('partials/header') %>

        <div id="container">
            <main>
                <form style="padding-top: 20px;" action="http://localhost:8844/search" method="get">
                    <fieldset>
                        <legend>Tutorial suchen</legend>
                        <p>
                            <label>Titel: </label>
                            <input type="search" name="q" required minlength="4" maxlength="20" pattern="[A-ZÄÖÜ].*" placeholder="Eingabe muss mit einem Großbuchstaben beginnen">
                            <input type="submit" value="suchen">
                        </p>
                    </fieldset>
                </form>

                <ol id="tiles">
                    <li class="tile">
                        <a href="./MatheTutorials.html"><img src="/img/WebLogo.jpg" alt="Tutorial 1 Logo" height="50" width="50">Webkurs</a>
                    </li>
                    <li class="tile">
                        <a href="./MatheTutorials.html"><img src="/img/PKLogo.png" alt="Tutorial 1 Logo" height="50" width="50">Programmierkurs</a>
                    </li>
                    <li class="tile">
                        <a href="./MatheTutorials.html"><img src="/img/MathLogo.png" alt="Tutorial 1 Logo" height="50" width="50">Mathe</a>
                    </li>
                    <li class="tile">
                        <a href="./MatheTutorials.html"><img src="/img/MathLogo.png" alt="Tutorial 1 Logo" height="50" width="50">Programmierkurs</a>
                    </li>
                </ol>
            </main>

            <%- include('partials/aside') %>
        </div>

        <button onclick="consoleMessage()">Viewport-Breite</button>
              <div id="my-div"></div>

        <%- include('partials/footer') %>
    </body>
</html>