<!DOCTYPE html>
<html language="de">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tutorial Binomische Formeln</title>
        <link rel="stylesheet" type="text/css" href="/css/flexbox.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <script language="JavaScript" type="text/javascript" src="/js/script.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/burgermenu.js"></script>
    </head>

    <body>
        <%- include('partials/header') %>

        <div id="container">
            <main>
                <p><strong>Binomische Formeln</strong><br></p>
                <div>
                    <div class="informationen">
                        <p>Datum: 15.10.2024</p>
                        <p>Dauer: 04:03 Minuten</p>
                    </div>
                    <div class="informationen">
                        <figure>
                            <img src="/img/Mathe1TutorialBild.png" alt="Bild konnte nicht geladen werden!" style="width: 35%">
                            <figcaption>Bildbeschreibung</figcaption>
                        </figure>
                    </div>
                </div>
                
                <video controls>
                    <source src="/img/BinomischeFormelnVideo.mp4" type="video/mp4">
                    Videoausschnitt konnte nicht angezeigt werden
                </video>
                <table>
                    <thead>
                    <tr>
                        <th>Kapitel</th>
                        <th>Kurzbeschreibung</th>
                        <th>Dauer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Einleitung</td>
                        <td>Kurze Einleitung in das Thema</td>
                        <td>52 Sekunden</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px">Beispielaufgabe</td>
                        <td style="padding-right: 20px">Rechnung und Erklärung einer Beispielaufgabe</td>
                        <td>3 Minuten 2 Sekunden</td>
                    </tr>
                    <tr>
                        <td>Verabschiedung</td>
                        <td>Verabschiedende Worte</td>
                        <td>9 Sekunden</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">Beispiel foot</td>
                    </tr>
                    </tfoot>
                </table>
            </main>

            <%- include('partials/aside') %>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>