<!DOCTYPE html>

<html>
  
  <head>
    <title>Mathe Tutorials</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script language="JavaScript" type="text/javascript" src="/js/script.js"></script>
  </head>
  
  <body>
    <%- include('partials/header') %>

    <div  class="grid-container">
    <main>
      <section>    <dl>
      <figure>
        <img src="/img/MathLogo.png" alt="Tutorial 1 Logo" height="75" width="75">
      </figure>
        <dt><strong>Mathe Tutorial 1</strong></dt>
        <dd>
          <p>
            Titel: <small><a href="Mathe/Mathe1Tutorial1.html">Binomische Formeln</a></small><br>
            Datum: <small>15.10.2024</small><br>
            Dauer: <small>04:03 Minuten</small><br>
            Beschreibung: <small>Das ist eine Beschreibung <br> für das Mathe 1 Turotial 1!</small><br>
          </p>
        </dd>
      </dl>
    </section>
    <section>
      <dl>
        <figure>
          <img src="/img/MathLogo.png" alt="Tutorial 1 Logo" height="75" width="75">
        </figure>
        <dt><strong>Mathe Tutorial 2</strong></dt>
        <dd>
          <p>
            Titel: <small><a href="Mathe/Mathe1Tutorial1.html">Titel 2</a></small><br>
            Datum: <small>08.10.2024</small><br>
            Dauer: <small>13:24 Minuten</small><br>
            Beschreibung: <small>Das ist eine Beschreibung <br> für das Mathe 1 Tutorial 2!</small><br>
          </p>
        </dd>
      </dl>
    </section>
    </main>
      <%- include('partials/aside') %>

      <%- include('partials/footer') %>
  </div>
  </body>
  
</html>